<h1><a href="/Ports/new"><span class="glyphicon glyphicon-plus"></span></a><a data-toggle="modal" data-target="#myModal"><span class=" glyphicon glyphicon-info-sign"></span></a> List Page</h1>
<table class="table table-striped">
  <tr>
    <th width="100px">Action</th>
    <th>Source Port</th>
    <th>Destination Port</th>
    <th>Destination IP</th>
  </tr>
  <% _.each(ports, function(Ports) { %>
  <tr>
    <td><a href="/Ports/destroy/<%= Ports.id %>"><span class="glyphicon glyphicon-remove"></span>Delete</a></td>
    <td><%= Ports.source_port %></td>
    <td><%= Ports.dest_port %></td>
    <td><%= Ports.dest_ip %></td>
  </tr>
  <% }) %>
</table>
